@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

//https://transfonter.org/

@font-face {
    font-family: 'Open Sans';
    src: url('/style/fonts/subset-OpenSans-Light.eot');
    src: url('/style/fonts/subset-OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/style/fonts/subset-OpenSans-Light.woff2') format('woff2'),
        url('/style/fonts/subset-OpenSans-Light.woff') format('woff'),
        url('/style/fonts/subset-OpenSans-Light.ttf') format('truetype'),
        url('/style/fonts/subset-OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/style/fonts/subset-OpenSans.eot');
    src: url('/style/fonts/subset-OpenSans.eot?#iefix') format('embedded-opentype'),
        url('/style/fonts/subset-OpenSans.woff2') format('woff2'),
        url('/style/fonts/subset-OpenSans.woff') format('woff'),
        url('/style/fonts/subset-OpenSans.ttf') format('truetype'),
        url('/style/fonts/subset-OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Big John';
    src: url('/style/fonts/subset-BigJohn.eot');
    src: url('/style/fonts/subset-BigJohn.eot?#iefix') format('embedded-opentype'),
        url('/style/fonts/subset-BigJohn.woff2') format('woff2'),
        url('/style/fonts/subset-BigJohn.woff') format('woff'),
        url('/style/fonts/subset-BigJohn.ttf') format('truetype'),
        url('/style/fonts/subset-BigJohn.svg#BigJohn') format('svg');
    font-weight: normal;
    font-style: normal;
}