@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $black;
  background-color: $white;
}

.container {
  position: relative;
  max-width: 1900px;
  min-width: 1440px;
  margin: 0 auto;
}

.wrap {
  max-width: 1490px;
  margin: 0 auto;
}

.clearfix {
  &:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}