$white: #ffffff;
$black: #000000;
$gold: #fdd400;
$froly: #ef7778;
$gallery: #ececec;
$swansDown: #d5ede7;
$goldenrod: #fad663;
$carouselPink: #fef9fd;
$skeptic: #d2eae3;

@mixin fontFamily($f) {
  font-family: $f, "Open Sans", sans-serif;
}

@mixin centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}