@import "vars";

.about {
  position: relative;
  width: 100%;
  padding: 120px 0 100px;

  .about__title {
    position: relative;
    min-height: 120px;
    padding-bottom: 135px;

    h2 {
      position: relative;
      display: inline-block;
      @include fontFamily("Big John");
      float: left;
      margin-left: 160px;

      font-size: 76px;
      line-height: 80px;
      color: $black;

      &:before, &:after {
        position: absolute;
        content: "";
        border-top: 5px solid $black;
        width: 480px;
      }

      &:before {
        top: 88px;
        left: -20px;
      }

      &:after {
        bottom: -25px;
        left: 25px;
      }
    }

    p {
      float: right;
      width: 50%;
      @include fontFamily("Open Sans Light");
      font-size: 18px;
      line-height: 30px;
      padding-left: 80px;
    }
  }

  .about__items {
    position: relative;
    width: 100%;

    .about__item {
      position: relative;
      float: left;
      width: 30%;
      margin-right: 70px;

      &:last-child {
        margin-right: 0;
      }

      > div {
        position: relative;
        text-align: center;
        height: 260px;
        margin-bottom: 35px;

        > img {
          display: block;
          bottom: 0;
          @include centerX;
        }
      }

      > h3 {
        @include fontFamily("Big John");
        font-size: 48px;
        line-height: 50px;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
      }

      > h4 {
        @include fontFamily("Big John");
        font-size: 18px;
        line-height: 20px;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 45px;
      }

      > p {
        @include fontFamily("Open Sans Light");
        line-height: 24px;
        color: $black;
        text-align: center;
      }
    }
  }
}