.contacts {
  position: relative;
  width: 100%;
  background-color: $skeptic;
  padding: 120px 0 100px;

  .contact-form {
    position: relative;
    float: left;
    width: 45%;
    margin-top: 90px;

    label {
      position: relative;
      display: block;
      @include fontFamily("Big John");
      font-size: 18px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 15px;
      padding-left: 12px;
    }

    input[type="text"], input[type="email"] {
      position: relative;
      display: block;
      background-color: $goldenrod;
      @include fontFamily("Big John");
      font-size: 18px;
      line-height: 42px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 22px;
      width: 100%;
      border: 4px solid $black;
      border-radius: 18px;
      padding: 0 20px;
    }

    textarea {
      position: relative;
      display: block;
      background-color: $goldenrod;
      @include fontFamily("Big John");
      font-size: 18px;
      line-height: 20px;
      height: 200px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 60px;
      width: 100%;
      border: 4px solid $black;
      border-radius: 18px;
      padding: 10px 20px;
      resize: none;
    }

    .submit-wrap {
      position: relative;
      height: 50px;

      .send-wrap {
        position: relative;
        display: inline-block;
        @include center;

        &:before, &:after {
          position: absolute;
          content: "";
          border-top: 5px solid $black;
          width: 295px;
        }

        &:before {
          top: 17px;
          left: -85px;
        }

        &:after {
          bottom: 18px;
          left: -55px;
        }

        input[type="submit"] {
          @include fontFamily("Big John");
          display: inline-block;
          position: relative;
          font-size: 18px;
          line-height: 42px;
          color: $black;
          text-decoration: none;
          border: 4px solid $black;
          border-radius: 15px;
          padding: 0 50px;
          text-transform: uppercase;
          background-color: $goldenrod;
          transition: border-color ease-in 0.2s, color ease-in 0.2s, background-color ease-in 0.3s;
          z-index: 1;
          cursor: pointer;

          &:hover {
            border-color: $goldenrod;
            color: $goldenrod;
            background-color: $black;
          }
        }
      }
    }
  }

  .contact-items {
    position: relative;
    float: right;
    width: 45%;

    > h2 {
      position: relative;
      @include fontFamily("Big John");
      text-transform: uppercase;
      font-size: 76px;
      line-height: 80px;
      color: $black;
      padding-left: 40px;
      margin-bottom: 100px;

      &:before, &:after {
        position: absolute;
        content: "";
        border-top: 5px solid $black;
        width: 480px;
      }

      &:before {
        top: 88px;
        left: 0;
      }

      &:after {
        bottom: -25px;
        left: 45px;
      }
    }

    .contact-socials {
      position: relative;
      font-size: 0;
      line-height: 1;
      padding-left: 30px;

      > a {
        position: relative;
        display: inline-block;
        font-size: 0;
        line-height: 1;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        > img {
          border-radius: 50%;
          transition: background ease-in 0.2s;
        }

        &:hover {
          > img {
            background: radial-gradient(circle farthest-corner at 50% 50%, #FDD400 0, #D2EAE3 100%);
          }
        }
      }
    }

    .mt40 {
      margin-top: 40px;
    }

    .mt100 {
      margin-top: 100px;
    }

    .contact-block {
      position: relative;
      font-size: 0;
      line-height: 1;
      width: 570px;
      padding-left: 30px;

      > div {
        display: inline-block;
        width: 45%;

        &:nth-child(1) {
          float: left;
        }

        &:nth-child(2) {
          float: right;
        }

        h3 {
          @include fontFamily("Big John");
          font-size: 18px;
          line-height: 20px;
          color: $black;
          margin-bottom: 20px;
        }

        p, a {
          @include fontFamily("Open Sans Light");
          font-size: 16px;
          line-height: 20px;
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
}