.footer {
  position: relative;
  background-color: $skeptic;
  width: 100%;
  padding-bottom: 20px;

  .footer-wrap {
    position: relative;
    width: 100%;

    h2 {
      position: relative;
      display: inline-block;
      float: left;
      @include fontFamily("Big John");
      font-size: 18px;
      line-height: 50px;
      color: $black;
    }

    > nav {
      position: relative;
      display: inline-block;
      float: right;
      font-size: 0;

      > a {
        position: relative;
        display: inline-block;
        @include fontFamily("Big John");
        font-size: 18px;
        line-height: 50px;
        text-decoration: none;
        color: $black;
        padding: 0 30px;
        margin-right: 5px;
        border-radius: 15px;
        transition: color ease-in 0.2s, background-color ease-in 0.3s;

        &:last-child {
          margin-right: 0;
        }

        &:hover, &.active {
          background-color: $black;
          color: $skeptic;
        }
      }
    }
  }
}