@import "vars";

.header {
  position: relative;
  background-color: $gold;
  height: 965px;
  background-image: url("/images/header-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  .header-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    > nav {
      position: relative;
      display: inline-block;
      margin-top: 60px;
      font-size: 0;

      > a {
        position: relative;
        display: inline-block;
        @include fontFamily("Big John");
        font-size: 18px;
        line-height: 50px;
        text-decoration: none;
        color: $black;
        padding: 0 30px;
        margin-right: 5px;
        border-radius: 15px;
        transition: color ease-in 0.2s, background-color ease-in 0.3s;

        &:last-child {
          margin-right: 0;
        }

        &:hover, &.active {
          background-color: $black;
          color: $gold;
        }
      }
    }

    .header-title {
      width: 50%;
      margin: 125px auto 0;
      text-align: center;

      h1 {
        @include fontFamily("Big John");
        font-size: 60px;
        line-height: 62px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 75px;
      }

      > .img-wrap {
        position: relative;
        font-size: 0;
        text-align: center;
        margin-bottom: 68px;

        &:before, &:after {
          position: absolute;
          content: "";
          border-top: 5px solid $black;
          width: 485px;
        }

        &:before {
          top: 9px;
          left: 111px;
        }

        &:after {
          bottom: 123px;
          left: 146px;
        }

        img {
          position: relative;
          display: inline-block;
          z-index: 1;
        }
      }

      > .link-wrap {
        position: relative;
        display: inline-block;

        &:before, &:after {
          position: absolute;
          content: "";
          border-top: 5px solid $black;
          width: 300px;
        }

        &:before {
          top: 17px;
          left: -90px;
        }

        &:after {
          bottom: 18px;
          left: -55px;
        }

        a {
          @include fontFamily("Big John");
          display: inline-block;
          position: relative;
          font-size: 18px;
          line-height: 42px;
          color: $black;
          text-decoration: none;
          border: 4px solid $black;
          border-radius: 15px;
          padding: 0 25px;
          text-transform: uppercase;
          background-color: $goldenrod;
          transition: border-color ease-in 0.2s, color ease-in 0.2s, background-color ease-in 0.3s;
          z-index: 1;

          &:hover {
            color: $goldenrod;
            background-color: $black;
            border-color: $goldenrod;
          }
        }
      }
    }
  }
}