@import "vars";

.works {
  position: relative;
  width: 100%;
  padding-top: 125px;

  .bgc-1 {
    background-color: $froly;
  }

  .bgc-2 {
    background-color: $gallery;
  }

  .bgc-3 {
    background-color: $swansDown;
  }

  .bgc-4 {
    background-color: $goldenrod;
  }

  .works-title {
    position: relative;
    height: 200px;
    text-align: right;

    > h2 {
      position: relative;
      display: inline-block;
      float: right;
      margin-right: 160px;
      @include fontFamily("Big John");
      font-size: 76px;
      line-height: 80px;
      color: $black;

      &:before, &:after {
        position: absolute;
        content: "";
        border-top: 5px solid $black;
        width: 480px;
      }

      &:before {
        top: 88px;
        left: 0;
      }

      &:after {
        bottom: -25px;
        left: 45px;
      }
    }
  }

  .works-items {
    position: relative;
    width: 100%;
    font-size: 0;
    line-height: 1;

    .works-item {
      position: relative;
      display: inline-block;
      width: 25%;
      height: 475px;
      overflow: hidden;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        transition: border ease-in 0.2s;
      }

      &:hover {
        &:after {
          border: 5px solid $black;
        }
      }

      img {
        display: inline-block;
        @include center();
      }
    }
  }

  .works-more {
    position: relative;
    height: 165px;

    > .link-wrap {
      position: relative;
      display: inline-block;
      @include center;

      &:before, &:after {
        position: absolute;
        content: "";
        border-top: 5px solid $black;
        width: 300px;
      }

      &:before {
        top: 17px;
        left: -70px;
      }

      &:after {
        bottom: 18px;
        left: -45px;
      }

      a {
        @include fontFamily("Big John");
        display: inline-block;
        position: relative;
        font-size: 18px;
        line-height: 42px;
        color: $black;
        text-decoration: none;
        border: 4px solid $black;
        border-radius: 15px;
        padding: 0 25px;
        text-transform: uppercase;
        background-color: $white;
        transition: color ease-in 0.2s, background-color ease-in 0.3s;
        z-index: 1;

        &:hover {
          color: $white;
          background-color: $black;
        }
      }
    }
  }
}