<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.rs %>">
  <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.bs[0] %>">-->
  <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.sl[0] %>">-->
  <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.sl[1] %>">-->
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="header-wrap wrap">
        <nav>
          <a href="#">Home</a>
          <a href="#">What i do</a>
          <a href="#">My works</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
        <div class="header-title">
          <h1>Tacos cardigan truffaut Quanted!</h1>
          <div class="img-wrap">
            <img src="images/glasses.png" alt="">
          </div>
          <div class="link-wrap">
            <a href="#">see more</a>
          </div>
        </div>
      </div>
    </header>
    <div class="hobby wrap">
      <div class="hobby__title clearfix">
        <h2>What i Do</h2>
        <p>Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.</p>
      </div>
      <div class="hobby__items clearfix">
        <div class="hobby__item">
          <div><img src="images/headphones.png" alt=""></div>
          <h3>ultricies</h3>
          <p>Four dollar toast messenger bag green juice, organic cliche tofu synth small batch locavore austin. Squid mlkshk authe ntic pinterest, pour-over gastropub XOXO seitan sartorial humblebrag.</p>
        </div>
        <div class="hobby__item">
          <div><img src="images/monitor.png" alt=""></div>
          <h3>porttitor</h3>
          <p>Tofu mixtape selfies, swag brooklyn banh mi stumptown loca vore yr migas tousled chicharrones sriracha cray leggings. Street art tousled kale chips poutine schlitz. Pitchfork distillery next level, polaroid roof party austin.</p>
        </div>
        <div class="hobby__item">
          <div><img src="images/camera.png" alt=""></div>
          <h3>Curabitur</h3>
          <p>Dreamcatcher deep v austin schlitz drinking vinegar, messen ger bag slow-carb. Migas tumblr kombucha you probably hav en't heard of them +1 chicharrones. Tilde wayfarers craft beer stumptown, humblebrag ugh whatever.</p>
        </div>
      </div>
    </div>
    <div class="works">
      <div class="works-title wrap clearfix">
        <h2>My works</h2>
      </div>
      <div class="works-items">
        <a class="works-item bgc-1" href="#"><img src="images/works/1.png" alt=""></a>
        <a class="works-item bgc-2" href="#"><img src="images/works/2.png" alt=""></a>
        <a class="works-item bgc-3" href="#"><img src="images/works/3.png" alt=""></a>
        <a class="works-item bgc-4" href="#"><img src="images/works/4.png" alt=""></a>
      </div>
      <div class="works-more wrap">
        <div class="link-wrap">
          <a href="#">load more</a>
        </div>
      </div>
    </div>
    <div class="about wrap">
      <div class="about__title clearfix">
        <h2>About me</h2>
        <p>Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.</p>
      </div>
      <div class="about__items clearfix">
        <div class="about__item">
          <div><img src="images/skills/1.png" alt=""></div>
          <h3>75%</h3>
          <h4>Photoshop</h4>
          <p>Mustache butcher direct trade, locavore banjo flexitarian taxidermy swag poutine literally. Selvage bushwick pour-over hella, austin kogi tumblr 90's chartreuse tacos.</p>
        </div>
        <div class="about__item">
          <div><img src="images/skills/2.png" alt=""></div>
          <h3>65%</h3>
          <h4>Illustrator</h4>
          <p>Viral actually PBR&B, portland wayfarers gluten-free pour-over. Pop-up kombucha chicharrones, YOLO mixtape celiac squid. Heirloom plaid everyday carry mustache.</p>
        </div>
        <div class="about__item">
          <div><img src="images/skills/3.png" alt=""></div>
          <h3>25%</h3>
          <h4>knitting</h4>
          <p>Pitchfork distillery next level, polaroid roof party austin fanny pack knausgaard everyday carry ethical freegan plaid yuccie brunch. Blue bottle wayfarers umami messenger.</p>
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="contacts-wrap wrap clearfix">
        <form class="contact-form" method="get" action="#">
          <label for="name">Name:</label>
          <input id="name" type="text" name="name">
          <label for="mail">Email:</label>
          <input id="mail" type="email" name="email">
          <label for="message">Message:</label>
          <textarea id="message" name="message"></textarea>
          <div class="submit-wrap">
            <div class="send-wrap">
              <input type="submit" value="send">
            </div>
          </div>
        </form>
        <div class="contact-items">
          <h2>Contact</h2>
          <div class="contact-socials clearfix">
            <a href="#"><img src="images/socials/fb.png" alt=""></a>
            <a href="#"><img src="images/socials/tw.png" alt=""></a>
            <a href="#"><img src="images/socials/g+.png" alt=""></a>
            <a href="#"><img src="images/socials/pt.png" alt=""></a>
            <a href="#"><img src="images/socials/in.png" alt=""></a>
          </div>
          <div class="contact-block clearfix mt100">
            <div>
              <h3>Address:</h3>
              <p>9114 Bridge Street,<br>Hillsboro, OR 97124</p>
            </div>
          </div>
          <div class="contact-block clearfix mt40">
            <div>
              <h3>Phone:</h3>
              <a href="tel:+482025550114">+48 202 - 555 - 0114</a>
            </div>
            <div>
              <h3>Email:</h3>
              <a href="mailto:contact@yoursite.com">contact@yoursite.com</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    <footer class="footer">
      <div class="footer-wrap wrap clearfix">
        <h2>Copyright 2015 © by Anna Dadej</h2>
        <nav>
          <a href="#">Home</a>
          <a href="#">What i do</a>
          <a href="#">My works</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
      </div>
    </footer>
    </div>
  </div>
  <!--<script src="<%= htmlWebpackPlugin.options.jq %>"></script>-->
  <!--<script src="<%= htmlWebpackPlugin.options.bs[1] %>"></script>-->
  <!--<script src="<%= htmlWebpackPlugin.options.sl[2] %>"></script>-->
</body>
</html>